node_modules/
.iml
npm-debug.log
.vscode
reports/%
logs
*.log

### OSX ###
.DS_STORE
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
