<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1><%= title %></h1>
	
	<% if (!user) { %>
		<h2>Be Welcome <%= userDisplayName %></h2>
		<a href="/login">Log In</a>
	<% } else { %>
		<p>Welcome <%= userDisplayName %></p>
		<p><a href="/me">O365 Graph information about you</a></p>
	</br>
		<p><a href="/logout">Log Out</a></p>
	<% } %>
  </body>
</html>